header {
    background-color: #0020F4;
}

.header-div ul {
    list-style: none

}

.header-div a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.sec-1 img {
    object-fit: cover;
    border-radius: 15px;
    width: 1195px;
    height: 600px;
}

.sec-1 h1 {
    letter-spacing: 1px;
    text-align: left;
}